# Spring Boot / Maven
HELP.md
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# Keep Maven wrapper scripts
!.mvn/wrapper/maven-wrapper.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
task-manager.code-workspace

### Frontend ###
node_modules/
dist/
build/

### Environment ###
.env
.env.*

### Docker ###
**/mongo-data/

### Other
draft.md